perf.hist.*
*.o

compile_flags.txt

0_Vendor/coalesce-cuda
0_Vendor/coalesce-hip
0_Vendor/transpose-cuda
0_Vendor/transpose-hip

1_Data_Trn/copy-cuda
1_Data_Trn/copy-hip

3_Algo/transform-cuda
3_Algo/transform-hip
3_Algo/bitonic-cuda
3_Algo/bitonic-hip

build
